*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: rgb(255, 251, 236);
    --dark-green: #293825;
    --w: #ffff
}
body{
    background-color: var(--bg-color);
}
/* HEADER */
#masthead{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: --w;
    background-color: var(--bg-color);
}
.logo-header{
    width: 100%;
    text-align: center;
}
.logo-header .picto-logo{
    width: 450px;
    height: 120px;
    object-fit: cover;
    max-width: 100%;
}
/* NAVIGATION */
.navigation{
    width: 100%;
}
.inside-navigation{
    width: 90%;
    margin: 1rem auto;
    background-color: green;
    border-radius: 30px;
    text-align: center;
    padding: 1rem 0;
    display: none;
}
.li-nav{
    background-color: var(--bg-color);
    width: 60%;
    padding: 10px;
    margin: 1rem auto;
    border-radius: 5px;
}
/* BURGER MENU */
.cont-lignes{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 50%;
}
.lignes{
    width: 75%;
    height: 1px;
    border-radius: 5px;
    background-color: green;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.lignes:nth-child(1){
    top: 0px;
}
.lignes:nth-child(2){
    top: 8px;
}
.lignes:nth-child(3){
    top: 16px;
}
.btn1.active .lignes:nth-child(1){
    top: 8px;
    transform: rotate(135deg);
}
.btn1.active .lignes:nth-child(3){
    top: 8px;
    transform: rotate(-135deg);
}
.btn1.active .lignes:nth-child(2){
    opacity: 0;
    transform: translateX(-20px);
}
/* TOOLS */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 3rem;
    font-style: italic;
    color: rgb(0, 73, 0);
    margin-bottom: 2rem;
}
p, li{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.lil-margin-b{
    margin-bottom: 1rem;
}
.margin-b{
    margin-bottom: 2rem;
}
hr{
    margin: 2rem auto;
    height: 3px;
    background-color: rgb(0, 73, 0);
}
.lil-margin-l{
    margin-left: 1rem;
}
.itl{
    font-style: italic;
}
/* MAIN */
main{
    padding-top: 140px;
    margin: 0 10px;
}
/* QUOTES */
.allQuotes .blockquote {
    position: relative;
    max-width: 620px;
    margin: 1rem auto 45px;
}
.allQuotes .blockquote .blockquote-content{
    position: relative;
    color: rgb(132, 146, 112);
    font-size: 1.8rem;
    line-height: 1;
    border: 2px solid green;
    border-radius:20px;
    padding: 20px;
}
.allQuotes .blockquote .blockquote-content::after{
    content:"";
    position: absolute;
    border: 2px solid green;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 50px;
    border-bottom: none;
    border-left: none;
}

.allQuotes .blockquote .blockquote-content::before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid var(--bg-color);
    bottom: -3px;
    left: 50px;
}

.allQuotes .blockquote .blockquote-author {
    position: relative;
    color: #e74848;
    font-size: 1.3rem;
    font-style: italic;
    padding-top: 15px;
    margin-left:150px;
}
.allQuotes .blockquote .blockquote-author:first-letter {
    margin-left:-12px;
  }
.displayDesk{
    display: none;
}
/* VALUES */
.value{
    background-color: var(--dark-green);
    text-align: center;
    padding: 2.5rem 1rem;
    text-shadow: -1px 1px 0 #709d42;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}
.value p{
    font-size: 25px;
}
.value h2{
    font-size: 40px;
}
/* PHILOSOPHIE */
.philosophie h2{
    font-size: 40px;
    color: rgb(0, 73, 0);
    font-style: italic;
}
.mix-multiply{
    mix-blend-mode: multiply;
}
/* GOALS */
.goals h2{
    font-size: 40px;
    color: rgb(0, 73, 0);
    font-style: italic;
}
.goals ul{
    text-align: center;
}
.goals ul li{
    text-align: justify;
}
.goals ul li span.first-letter{
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color: rgb(70, 167, 51);
    margin-left: 2rem;
}
.goals .anim-feuille{
    mix-blend-mode: multiply;
    width: 70px;
    height: 70px;
}
/* ACTIONS */
.actions p .span-itl {
    font-style: italic;
}
.actions ul li{
    list-style: circle;
    margin-left: 2rem;
}
/* LOCALISATION */
.localisation .adress span{
    font-weight: bold;
    font-style: italic;
}
iframe.map{
    margin: 0 -10px;
    width: 100vw;
}
/* COMPOSTEZ ! */
/* TOGETHER */
.together h2{
    color: #709d42;
    font-size: 35px;

}
/* COMPOSTES */
.compostes{
    background-color: darkolivegreen;
    padding: 0.5rem;
    border-radius: 10px;
}
.compostes article {
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
.compostes article:nth-child(3){
    margin-bottom:0;
}
.compostes h3{
    font-size: 25px;
    color: rgb(59, 102, 59);
    text-align: center;
}
.compostes h3 span{
    width: 100%;
    display: inline-block;
    font-size: 40px;
}
.compostes li{
    padding: 0.5rem;
    text-align: center;
    list-style: inside;
    color: rgb(42, 54, 17);
}
/* DETENDEZ VOUS */
.detente p.value{
    font-size:30px;
}
.detente .warning{
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    background-color: darkolivegreen;
    color: white;
}
.warning span{
    width: 100%;
    display: inline-block;
}
.warning span img{
    width: 70px;
}
/* ATELIERS */
.ateliers{
    background-color: darkolivegreen;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
}
.ateliers-lighbg{
    padding: 0.5rem;
    background-color: darkolivegreen;
}
.ateliers h2{
    color: var(--bg-color);
    font-size: 35px;
}
.ateliers p, .ateliers li{
    color: var(--bg-color);
}
.ateliers li{
    padding: 0.5rem;
    text-align: center;
    list-style: inside;
}
/* GALERIE */

/* CONTACT */
footer h2{
    color: rgb(39, 73, 39);
    margin: 0 10px;
    text-align: center;
}
.blockquote-content span{
    display: inline-block;
    margin: 10px 0;
}
footer .allQuotes .blockquote{
    padding: 0 20px;
}
footer .allQuotes .blockquote .blockquote-content {
    font-size: 20px;
}
footer .link{
    margin: 0 10px;
    color: rgb(39, 73, 39);
}






@media screen and (min-width: 769px){
    .allQuotes{
        display: flex;
    }
    .allQuotes .blockquote{
        width: 40%;
    }
    .displayDesk{
        display: block;
    }
}